@tailwind base;
@tailwind components;

:root {
  --main: #0098ff
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a, a:hover {
  transition: .3s all;
}

.slick-next {
  transform: translate(20px, -220px)
}

.slick-prev {
  transform: translate(-60px, -220px)
}

.partner-next {
  transform: translate(-100px, -220px)
}

.partner-prev {
  transform: translate(100px, -220px)
}

.navbar .menu li:hover ul {
  display: block !important;
}

.navbar .menu li.current a {
  color: var(--main);
}

.navbar .menu li a::before {
  content: "";
  background: #fff;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  transition: .2s all;
}

.navbar .menu li:hover a::before {
  content: "";
  width: 100%;
  transition: .2s all;
}

.navbar .menu li ul li a {
  color: black;
  padding: 8px 5px;
  display: block;
}

.navbar .menu li ul li a:hover {
  color: var(--main);
}

#kontaksaya , .linearkan {
  background: linear-gradient(120deg, #0098ff, #205edd);
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: none;
  color: #fff;
  background-color: black;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

ul.tabs li.current{
  background: #0098ff;
  color: #fff;
}

ul.tabs li.current::after {
  position: absolute;
  content: " ";
  width: auto;
  height: auto;
  bottom: -20px;
  left: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: #0098ff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tab-content{
  font-size: 20px;
  display: none;
}

.tab-content.current{
  display: inherit;
}
.bigabout {
  top: 30%
}

@tailwind utilities;
